/* Estilos para el contenedor principal */
.entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; /* Espaciado alrededor del contenido */
}

/* Estilos para el título */
.entrada-titulo h2 {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 10px; /* Espaciado inferior del título */
}

/* Estilos para el autor */
.entrada-titulo p {
  font-style: italic; /* Texto en cursiva para el autor */
}

/* Estilos para la imagen */
.entrada-imagen img {
  width: 30%; /* Ancho de la imagen */
  border-radius: 10%; /* Si quieres que la imagen sea redonda */
  margin-bottom: 20px; /* Espaciado inferior de la imagen */
}

/* Estilos para el contenido */
.entrada-contenido {
  text-align: justify; /* Alineación justificada del contenido */
}

/* Estilos para el espacio entre secciones */
.entrada-titulo,
.entrada-contenido {
  width: 100%;
  max-width: 800px; /* Ancho máximo para las secciones */
  margin: 0 auto; /* Centrar las secciones en el contenedor principal */
}

hr {
  background-color: #333; /* Color gris oscuro */
  height: 2px; /* Grosor de la línea */
  border: none; /* Elimina el borde predeterminado del hr */
  margin: 20px auto; /* Margen superior e inferior para centrar y 70% de ancho */
  width: 70%; /* Ancho del hr */
}