.formulario-especifico {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados al 10% */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    width: 80%; /* Ancho del formulario */
    max-width: 400px; /* Ancho máximo del formulario */
    text-align: center;
    margin: 0 auto; /* Centrar en pantalla */
  }
  
  /* Estilos para los campos de entrada y select del formulario específico */
  .formulario-especifico .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilos para el botón de Reservar del formulario específico */
  .formulario-especifico .btn-primary {
    background-color: #F9DB5C; /* Fondo amarillo */
    color: #333; /* Color de texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
 
  /* Cambiar estilo del cursor al pasar sobre el botón del formulario específico */
  .formulario-especifico .btn-primary:hover {
    background-color: gold; /* Cambia el color al pasar el cursor */
  }
  @media screen and (max-width: 768px) {
 
    .img-reserva{
      display: none;
    }

 } 